{% extends 'base.html.twig' %}

{% block body %}

    {{ parent() }}

    {# Progress bar #}
    <div class="progress no-border hidden" id="delete-progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only">Loading...</span>
        </div>
    </div>  

    {{ include('util/messages/success.html.twig') }}


    <div class="container">
        <div class="col-md-12">
            <div class="page-header margin-none">
                <h2 class="padding-none">{% trans %} Reviews {% endtrans %}</h2>
            </div>


            <div class="table-responsive">

                {# Input file. Create Reviews form CSV file #}
                <label class="control-label">Create Reviews from CSV file</label>
                <input style="padding-bottom: 15%"id="csv-file" name="csv-file" type="file" class="file" >

                <div style="padding-top: 10%; padding-bottom: 15%" class="rTableCell">
                    <a href="{{ path("app_review_add") }}" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>
                        {{ 'Create from Form' }}
                    </a>
                </div> 

                <p>
                    {% trans %} Total records: {% endtrans %} <span id="total">{{ pagination.getTotalItemCount }}</span>
                </p>

                {# If there aren't records, show a message #}
                {% if not pagination|length %}
                    <h2>{{ 'No search results' }}</h2>
                {% endif %}

                {% if pagination|length %}

                    <div class="rTableBackground">
                        <div  class="rTableRow">
                            <div  class="rTableCell">
                                <input type="text" onkeyup="if (event.which === 13) {
                                            var params = getParams();
                                            ajaxRefreshDiv('GET', '{{ path('app_review_index') }}', params, 'reviews-container')
                                        }" id="filterReview"  placeholder="{{'Filter by Review '}}" />
                            </div>   
                            <div  class="rTableCell">
                                <span id="filter-list" onClick="var params = getParams();
                                        ajaxRefreshDiv('GET', '{{ path('app_review_index') }}', params, 'reviews-container')" style="cursor:pointer" title="Filter" class="glyphicon glyphicon-filter"></span>
                            </div>                             
                            <div  class="rTableCell">
                                <span id="clear-filter" onClick="clearFilter('GET', '{{ path('app_review_index') }}', '?reviewName=&pag=1', 'reviews-container')" style="cursor:pointer" title="Clear filter" class="glyphicon glyphicon-refresh"></span>
                            </div>   
                        </div>
                    </div>                    
                    <div id="reviews-container">{% include "Review/reviews_list.html.twig" %}</div>
                    <div id="loading">{% include "util/progress-bar.html.twig" %}</div>
                {% endif %}

            </div>
        </div>
    </div>              

{% endblock %}

{% block javascripts  %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/delete-ajax-id.js') }}"></script>

    <script>

        // input file configuration
        $("#csv-file").fileinput({
            uploadUrl: "/review/create_from_csv",
            allowedFileExtensions: ['csv'],
            showCaption: false,
            uploadLabel: "Create Reviews",
            uploadTitle: "Create Reviews from CSV file",
            uploadIcon: '<i class="glyphicon glyphicon-plus"></i>',
            uploadClass: 'btn btn-success',
        });

        $('#csv-file').on('fileuploaded', function () {
            var params = getParams();
            ajaxRefreshDiv('GET', 'index', params, 'reviews-container');
        });

        function getParams() {
            return '?reviewName=' + document.getElementById("filterReview").value + '&pag=1';
        }

        function clearFilter(method, action, params, div) {
            $('#filterReview').val('');
            ajaxRefreshDiv(method, action, params, div);
        }


        $(document).ready(function () {
            // Filter list
            var $filterReview = $('#filterReview');
            // KNP Paginator Ajax
            $('#reviews-container').on('click', ".navigation .pagination li a", function (e) {
                e.preventDefault();
                getCurrentPage($(this).html());
                var params = '?reviewName=' + $filterReview.val() + '&pag=' + $('#currentPage').val();
                ajaxRefreshDiv('GET', 'index', params, 'reviews-container');
            });
        });
    </script>    
{% endblock %}