{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    {{ include('util/messages/success.html.twig') }}
   
    <div class="main container">
        <div> <a href="{{ path('app_review_index' ) }}" class="glyphicon glyphicon-arrow-left">{{ 'Back to the list'}}</a>  </div>
        <div class="row well">
            <div class="col-md-6">
                <div class="page-header">
                    <h2>{{ title }}</h2>
                </div>
                {{ form_start(form, { 'attr' : {'novalidate': 'novalidate', 'role' : 'form'} }) }}

                    <div class="form-group">
                        {{ form_label(form.description) }}
                        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder' : 'Review description'}}) }}
                        <span class="text-danger">{{ form_errors(form.description) }}</span>
                    </div>
                </fieldset>

                <p>
                    {{ form_widget(form.save, {'label' :  actionButton , 'attr': {'class': 'btn btn-success'}}) }}
                </p>                
        
            {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}